/* Global box model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	/* Theme variables */
	--text-primary: rgba(255, 255, 255, 0.87);
	--bg-primary: #242424;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	width: 100%;
	height: 100%;
	overflow-y: clip;

	color-scheme: light dark;
	color: var(--text-primary);
	background-color: var(--bg-primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	overflow-y: clip;
}

#root {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: clip;
}
